name: Trial run

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  repository_dispatch:
    types: [build]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v4

      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          init-shell: >-
            bash
          cache-environment: true

      - name: Set up a test instance to track run
        run: lamin init --storage ./testdb
        shell: bash -el {0}

      - name: Run benchmark
        run: python figure_2_iteration_benchmark.py --test
        shell: bash -el {0}
